* {
    font-size: large;
    box-sizing: border-box;
}

.display {
    border: 2%;
    grid-column: span 12;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 3%;
    margin-right: 3%;
}

.item {
    grid-column: span 4;
}

.btn {
    cursor: pointer;
    color: #fff;
    background-color: gainsboro;
    border-radius: 1%px;
    box-shadow: 0 1% #999;
}

.clear {
    width: 100%;
}

.btn:hover{
	background: linear-gradient(gainsboro, blue);
}