footer {
    position: absolute;
    bottom: 0%;
    left: 45%;
    color: white;
    grid-column: span 4;
    background-color: black;    
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 1fr);
    margin: 2%;
}

.display {
    grid-column: span 4;
    grid-row: span 2;
    font-size: 30px;
}

.btn {
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%;
    grid-column: span 1;
    grid-row: span 2;
    font-size: 18px;
    font-weight: bolder;
    background-image: linear-gradient(to right, black, black);
    color: white;
    box-shadow: 0 5px gray;
}

.btn:hover{
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
}

.btn:active {
    box-shadow: 0 1px gray;
    transform: translateY(4px);
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
}

.large {
    margin-top: 1%;
    margin-right: 0%;
    margin-left: 0%;
    grid-column: span 4;
    grid-row: span 3;
}